body {
   background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif; /* Aplica la fuente Inter al cuerpo del documento */
    font-size: 10px;
}

/* conetent page*/
.content-page {
	min-height: calc(100vh - 3.6em - 3.6em) !important;
}
#navbar-menu {
    background-color: #D8661F;
    font-size: 1.6em;
}

#navbar-menu .navbar-nav .nav-link {
    color: #FFF !important;
}

#navbar-menu.navbar-light .navbar-toggler {
    color: #fff;
    background-color: #fff;
}

#navbar-menu .navbar-nav .nav-item.dropdown .dropdown-menu {
    background-color: #08080c9d; /* Establece el fondo del menú desplegable como transparente */
    border: none; /* Quita el borde del menú desplegable */
}

#navbar-menu .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
    color: #fff !important; /* Cambia el color del texto en el menú desplegable */
}
#navbar-menu .dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
    background-color:  transparent !important;  /* Cambia el color a transparente de la propiedad active y hover en el item */
}
.floating-button {
    position: fixed;
    background: #CF4C1A;
    
    border-radius: 1em;
    top: 10em;
    right: 2em;
    z-index: 100;
}

.floating-button button {
    font-size: 1.6em;
    color: #fbfbfb !important;
}
.sticky-menu{
    background: #833617;
}
.tilular{
margin-left: 5%;
margin-right: 5%;
}
@media (max-width: 767px) {
    .tilular{
        margin-left: 0em;
        margin-right: 0em;
        }
}
.section{
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
.img-logo{
    margin-top: 7.1em;
}
.text-red{
color: #91121A !important;
}
.shadow{
    box-shadow: -7px 7px 16px 0px rgba(48, 21, 4, 0.50) !important;
}
.img-shadow{
    object-fit: cover;
    filter: drop-shadow(-7px 7px 16px 0px rgba(48, 21, 4, 0.50))
}
.text-regular{
    font-size: 1.6em;
}
.text-md{
    font-size: 2em;
}
.text-lg{
    font-size: 2.4em
}
.text-big{
    font-size: 4.8em;
}
.card-producto{
    background: linear-gradient(226deg, rgba(240, 240, 240, 0.70) 33.84%, #D2D2D2 92.7%) !important;
    box-shadow: -7px 7px 16px 0px rgba(48, 21, 4, 0.50) !important;

}
@media (max-width: 1024px) {
        .img-producto{
            max-width: 77% !important;
            height: 77%;
        }
}
@media (max-width: 767px) {
    .tilular{
        margin-left: 0em;
        margin-right: 0em;
        }
}
.btn-ordenar{
    border-radius: 1em;
background: #CF4C1A;
color: #fbfbfb;
}
.events-section{
    padding-top: 2.4em;
    padding-bottom: 7.4em;
    background-color: #6d6d6d;
}
.card-events{
    background: linear-gradient(226deg, rgba(240, 240, 240, 0.70) 33.84%, #D2D2D2 92.7%) !important;
    box-shadow: -7px 7px 16px 0px rgba(48, 21, 4, 0.50) !important;
    border-radius: 1em;
   border: none !important;
}
.img-events{
    border-radius: 1em;
    width: 100% !important;
}
.img-cover{
    object-fit: cover !important;
}
.card-testimonials{
    background: linear-gradient(226deg, rgba(240, 240, 240, 0.70) 33.84%, #D2D2D2 92.7%) !important;
    box-shadow: -7px 7px 16px 0px rgba(48, 21, 4, 0.50) !important;
    border-radius: 1em;
   border: none !important;
}
.img-testimonial{
    width: 20em !important;
    height: 20em;
    
}
@media (max-width: 767px) {
    .img-events{
        height: 77% !important;
    }
    .img-testimonial{
        max-width: 99% !important;
        height: 80%;
        
    }
}
.card-aboutus{
    background: linear-gradient(226deg, rgba(240, 240, 240, 0.70) 33.84%, #D2D2D2 92.7%) !important;
    box-shadow: -7px 7px 16px 0px rgba(48, 21, 4, 0.50) !important;
    border-radius: 1em;
   border: none !important;
}

.social-card {
    background: linear-gradient(226deg, rgb(235 91 20 / 70%) 33.84%, #83360c 92.7%) !important;
    box-shadow: -7px 7px 16px 0px rgba(48, 21, 4, 0.50) !important;
    border-radius: 1em;
   border: none !important;
   
}



.social-card .card-body {
    padding: 1.25rem;
    position: relative;
}

.social-card h5 {
    margin-bottom: 10px;
}

.instagram-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 2.5em;
    color: #405DE6;
    cursor: pointer;
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 0.8s linear infinite;
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

     /*=========================================================*/
 /* Footer*/

 #footer {
	/*position: fixed;*/
	left: 0;
	width: 100%;
	bottom: 0 !important;
    padding-top: 1.6em;
	background-color: #D8661F;
	font-family: "Open Sans", sans-serif;
}
/* Colores de iconos*/
.__footer-titles{
    font-size: 2.4em;
    color: #fff;
}
.footer-ul {
	list-style-type: none;
	padding-left: 0px;
    text-decoration: none !important;
    
}
.footer-ul li {
	line-height: 29px;
	font-size: 1.6em;
}
.footer-ul li a {
	color: #f1f1f1;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.footer-ul i {
	margin-right: 1em;
}
.footer-ul li a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color: #91121A;
}

.fb-page a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color: whitesmoke !important;
}

.icon-ul {
	list-style-type: none !important;
	margin: 0px;
	padding: 0px;
}
.icon-ul li {
	line-height: 75px;
	width: 100%;
	float: left;
}
.icon {
	float: left;
	margin-right: 5px;
}

.copyright {
	min-height: 40px;
}
.copyright p {
	text-align: left;
	color: #fff;
	margin-bottom: 0px;
}

.post p span {
	display: block;
	color: #fbfbfb;
}
.bottom_ul {
	list-style-type: none;
	float: right;
	margin-top: 8em !important;
}
.bottom_ul li {
	float: left;
	line-height: 40px;
}
.bottom_ul li:after {
	content: "/";
	color: #fff;
	margin-right: 8px;
	margin-left: 8px;
}
.bottom_ul li a {
	color: #fff;
	font-size: 1.6em;
}
.rrss{
    display: flex;
}
.btn-rrss{
    font-size: 3.2em !important;
    margin: 0.5em 0.2em 0.5em 0.5em;
    text-decoration: none;
    color: #fbfbfb;

}
.copyright-end{
    padding: 1.6em;
}